.Leg
{
	color: red;
	font-size: 39px; 
}
.td1 , .td2
{
	color:white;
	font-size: 23px;
}
.Restart ,.Submit ,.Forget
{
	color:#111111;
	font-size: 23px;
	text-align: center;
	border: none;
}
.Restart:hover,.Submit:hover ,.Forget:hover
{
	color: #ff0000;
	font-size: 23px;
	border: none;
}
.Home
{
	border: none;
	outline: none;
	height: 40px;
	width:130px;
	background:red;
	color:#111111;
	font-size:18px;
	border-radius:20px;
}
.Home:hover
{
	border: none;
	outline: none;
	height: 40px;
	width:130px;
	background:green;
	color: #fff;
	font-size:18px;
	border-radius:20px;
}
.sbtn1 , .sbtn2
{
	color:#111111;
	font-size: 23px;
}
.sbtn1:hover , .sbtn2:hover
{
		color: #ff0000;
	font-size: 23px;
}
.std1,.std2,.std3,.std4,.std5
{
		color:white;
	font-size: 23px;
}
.sleg
{
	color:#ff0000;
	font-size: 39px;	
}
.ibody
{
	background: url('L5.jpg');
	background-size: cover;
	font-family: Arial;
	color:white;
}
ul
{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul li
{
	float: left;
	width: 145px;
	height: 40px;
	background-color: black;
	opacity: .8;
	line-height: 40px;
	text-align: center;
	font-size: 13px;
}
ul li a
{
	text-decoration:none;
	color: white;
	display: block;
}
ul li a:hover
{
	background-color: green;
	color: white;
	display: block;
}
ul li ul li
{
	display: none;
}
ul li:hover ul li
{
	display: block;
}

.idiv2{
	background-color: #ffe6e6; 
	width:15%;height:75%;
	 margin:9px ; 
	 padding:10px;
	color:orange;
	text-align: center;
	float: left;
}
.idiv3
{
	float: right;
	background-color:#ffe6e6; 
	width:15%;height:75%;
	 margin:9px ; 
	 padding:10px;
	color:orange;
	text-align: center;

}
.ih1
{
	color:white;
	padding: 0px;
	margin-top: 10px;
	font-family: bold;
	font-size: 30px;
}
.ih1:hover
{
	color:red;
	padding: 0px;
	margin-top: 10px;
	font-family: bold;
	font-size: 30px;
}

.ubody
{
	background: url('UL.jpg');
	background-size: cover;
	font-family: Arial;
	color:white;
}
.cbody
{
	background: url('L5.jpg');
	background-size: cover;
	font-family: Arial;
	color:white;
}